.wrapper {
    height: max-content;
    margin-top: 5%;
    margin-bottom: 200px;
}

.enter-clicked {
    position: absolute;
    z-index: 3;
    margin-right: p;
    margin: -45px;
    font-family: 'IM Fell Double Pica SC', serif;
    margin-left: 305px;
}

.enter-clicked {
    background-color: white;
    box-shadow: 0 2px #141213, 0 1px 6px rgba(0, 0, 0, .4), inset 0 1px rgba(255, 255, 255, .3), inset 0 0 3px rgba(255, 255, 255, .5);
    -webkit-transform: translate(0, 4px);
    transform: translate(0, 4px);
}

.keyboard-wrapper {
    font-family: 'Oswald', sans-serif;
    position: absolute;
    left: -348px;
    top: 17px;
    user-select: none;
    width: 680px;
    height: 229px;
    padding: 15px 0px;
    border-radius: 10px;
    background-color: rgb(73, 73, 73);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px 20px;
    background: radial-gradient(circle, rgb(246, 215, 75), yellow, white);
    background-size: 300% 300%;
    -webkit-box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.6), 0px 0px 0px 14px white, 0px 0px 0px 12px rgba(0, 0, 0, 0.2), 6px 6px 8px 17px #555;
    -moz-box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.6), 0px 0px 0px 14px white, 0px 0px 0px 12px rgba(0, 0, 0, 0.2), 6px 6px 8px 17px #555;
    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.6), 0px 0px 0px 5px white, 0px 0px 0px 5px rgba(0, 0, 0, 0.2), 6px 6px 8px 5px #555;
}

.key {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    font-size: 1.0em;
    align-items: center;
    border-radius: 6px;
    background-color: white;
    color: black;
    user-select: none;
    border: 2px solid black;
}

.key:hover {
    cursor: pointer;
    color: rgb(202, 42, 25);
}

.control-key-background {
    background-color: color;
    font-size: 1em;
}

.backspace-key {
    width: 302px;
}

.long-control-key {
    width: 89px;
}

.active {
    box-shadow: 0 1px #141213, 0 1px 1px rgba(0, 0, 0, .4), inset 0 1px rgba(255, 255, 255, .3), inset 0 0 1px rgba(255, 255, 255, .5);
    -webkit-transform: translate(0, 4px);
    transform: translate(0, 4px);
}

.active-shift {
    background-color: rgb(246, 215, 75);
    border-radius: 7px;
}

.language {
    background-image: url(../../img/language.png);
    background-size: 40px;
    background-position: center;
    background-repeat: no-repeat;
}

.keyboard-body {
    position: absolute;
    z-index: 2;
    top: 300px;
}
