@keyframes leftSlide {
    0% {
        transform: translateX(calc(100% + 30px));
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes rightSlide {
    0% {
        right: 100%;
        width: 70px;
    }
    100% {
        opacity: 1;
        right: 0%;
        width: 24px;
    }
}

@keyframes hiddingSlide {
    0% {
        width: 100%;
    }
    100% {
        width: 0%;
    }
}


@keyframes rainbow {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}


@-webkit-keyframes anim_slides {
    0% {
        opacity: 0;
    }
    6% {
        opacity: 1;
    }
    21% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@-moz-keyframes anim_slides {
    0% {
        opacity: 0;
    }
    6% {
        opacity: 1;
    }
    24% {
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
    36% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
