@media only screen and (max-width: 1020px) {
    .body_slides li {
        -webkit-animation: anim_slides 24s linear infinite 0s;
        -moz-animation: anim_slides 24s linear infinite 0s;
        -o-animation: anim_slides 24s linear infinite 0s;
        -ms-animation: anim_slides 24s linear infinite 0s;
        animation: anim_slides 24s linear infinite 0s;
    }
    .body_slides li:nth-child(1) {
        background-image: url(../img/background/bambelbi.jpg);
        background-size: 50%;
        background-repeat: no-repeat;
    }
    .body_slides li:nth-child(2) {
        display: none;
    }
    .body_slides li:nth-child(3) {
        -webkit-animation-delay: 6.0s;
        -moz-animation-delay: 6.0s;
        background-image: url(../img/background/dedpool.jpg);
        background-size: 500px;
        background-repeat: no-repeat;
        background-position: right;
    }
    .body_slides li:nth-child(4) {
        -webkit-animation-delay: 12.0s;
        -moz-animation-delay: 12.0s;
        background-image: url(../img/background/tonyStark.jpg);
        background-size: 450px;
        background-repeat: no-repeat;
        background-position: left;
    }
    .body_slides li:nth-child(5) {
        -webkit-animation-delay: 18.0s;
        -moz-animation-delay: 18.0s;
        background-image: url(../img/background/madMax.jpg);
        background-size: 500px;
        background-repeat: no-repeat;
        background-position: right;
    }
    .body_slides li:nth-child(6) {
        display: none;
    }
    .body_slides li:nth-child(7) {
        display: none;
    }
    [data-tooltip]:before {
        font-size: 7px;
        padding: 0;
        margin-left: 15px;
    }
}

@media only screen and (max-width: 843px) {
    .hamburger-menu {
        display: none;
    }
    .keyboard-body,
    .search-tia,
    .enter1,
    .body_slides,
    .modal-wrapper,
    .modal-wrapperS {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    .search-clear {
        right: 130px;
    }
    .search-micro {
        right: 100px;
    }
    body {
        background-image: url(../img/background/dedpool.jpg);
        background-size: 110%;
        background-repeat: no-repeat;
        background-position: center;
    }
}

@media only screen and (max-width: 550px) {
    .footer-container a {
        font-size: 10px;
    }
    
    .info {
        font-size: 12px;
        height:auto;
    }
    
    body {
        background-image: url(../img/background/bambelbi.jpg);
        background-size: 100%;
        background-position: center bottom;
        background-repeat: no-repeat;
    }
    .search .search-input {
        font-size: 12px;
        width: 90%
    }
    .search-btn {
        font-size: 10px;
        width: 70px;
        height: 30px;
    }
    .search-clear {
        background-size: 20px;
        right: 75px;
    }
    .search-micro {
        right: 100px;
        background-size: 20px;
    }
}

@media only screen and (max-width: 350px) {
    .search .search-input {
        font-size: 12px;
        width: 200px;
    }
    .search-clear {
        background-size: 20px;
        right: 15px;
    }
    .search-micro {
        right: 40px;
        background-size: 20px;
    }
    
    .search-btn {
        position: relative;
        top: -60px;
        left: -150px;
        font-size: 10px;
        width: 70px;
        height: 30px;
    }
    body {
        background-image: url(../img/background/bambelbi.jpg);
        background-size: 130%;
        background-position: bottom;
        background-repeat: no-repeat;
    }
    .preloader {
        position: absolute;
        z-index: 3;
        top: -65px;
    }
}
